# Ziel des Buttons "Vollversion anfragen".
# Ist NEXT_PUBLIC_CONTACT_EMAIL gesetzt, öffnet sich stattdessen das E-Mail-Programm.
NEXT_PUBLIC_CONTACT_URL=https://github.com/Guenbay
NEXT_PUBLIC_CONTACT_EMAIL=
